@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");
.header {
  background: #8e723f;
  border-top: 5px solid #78603e;
  position: fixed;
  width: 100%;
  z-index: 10; }
  .header-top {
    height: 60px; }
  .header__logo-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .header__logo-link:hover {
      color: #ffffff;
      text-decoration: none; }
  .header__logo-text {
    display: block;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 1;
    padding: 0 15px; }
    .header__logo-text-big {
      font-size: 28px; }
  .header__town {
    padding: 0 15px; }
    .header__town-text {
      font-size: 14px;
      font-family: "Open Sans", sans-serif;
      color: white;
      line-height: 1.2; }
    .header__town-select {
      background: transparent url("../img/select.png") no-repeat 99% center;
      border: none;
      color: #d7b475;
      font-size: 14px;
      font-family: "Open Sans", sans-serif;
      padding-right: 20px; }
      .header__town-select:focus {
        outline: none; }
  .header__list {
    padding: 0 15px; }
    .header__list-item {
      display: inline-block;
      margin-right: 10px; }
      .header__list-item:last-child {
        margin-right: 0; }
    .header__list-link {
      color: #fff;
      display: block;
      font-size: 14px;
      font-family: "Open Sans", sans-serif;
      text-decoration: underline;
      line-height: 1.2; }
      .header__list-link:hover {
        color: #d7b475;
        text-decoration: none; }
  .header__ankets {
    cursor: pointer;
    justify-self: flex-end;
    margin-left: auto; }
    .header__ankets-wrap {
      background: #6b512c;
      -webkit-border-radius: 2px;
              border-radius: 2px;
      padding: 5px 10px;
      -webkit-transition: background 0.3s linear;
      -o-transition: background 0.3s linear;
      transition: background 0.3s linear; }
      .header__ankets-wrap:hover {
        background: #845c22; }
    .header__ankets-text {
      font-size: 14px;
      font-family: "Open Sans", sans-serif;
      color: white;
      line-height: 1.2; }

.girls {
  padding-top: 63px; }
  .girls__item {
    position: relative; }
  .girls__name {
    background: rgba(47, 26, 3, 0.702);
    color: #ffffff;
    cursor: pointer;
    position: absolute;
    bottom: 28px;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    line-height: 1.2;
    width: 100%;
    text-align: center;
    padding: 5px 0; }
    .girls__name:hover {
      color: #ff0303;
      text-decoration: none; }
  .girls__cost {
    background: #2f1a03;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 5px 0; }
    .girls__cost-default {
      font-size: 11.298px;
      font-family: "Open Sans", sans-serif;
      font-weight: bold;
      line-height: 1.2;
      text-align: left; }
    .girls__cost-red {
      font-size: 14px;
      font-family: "Open Sans", sans-serif;
      color: #ff0303;
      font-weight: bold;
      line-height: 1.2; }

.settings {
  background-color: #ffffff;
  margin-bottom: 15px;
  -webkit-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.26);
          box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.26); }
  .settings-wrap {
    height: 60px; }
