@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");
.radio {
  text-align: left;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .radio-wrap {
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding: 0;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 95.88px; }
    .radio-wrap:nth-of-type(2n) {
      margin-right: 0; }
    .radio-wrap:last-child {
      margin-right: 0; }
  .radio__input {
    display: none; }
  .radio__text {
    background: #f4d498;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #000000;
    padding: 0.5rem;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    display: inline-block;
    text-align: center;
    width: 100%; }
  .radio__input:checked ~ .radio__text {
    color: #000000;
    background-color: #d49e3d; }

.checkbox-wrap {
  height: 25px;
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  color: #252525;
  font-size: 14px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: left;
  margin-right: 25px; }
  .checkbox-wrap:last-child {
    margin-right: 0; }
  .checkbox-wrap input {
    position: absolute;
    opacity: 0;
    cursor: pointer; }
  .checkbox-wrap__value {
    text-decoration: underline; }
    .checkbox-wrap__value:hover {
      text-decoration: none; }

/* Create a custom checkbox */
.checkbox__text {
  -webkit-border-radius: 4px;
          border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #f1cc88; }

/* When the checkbox is checked, add a blue background */
.checkbox-wrap input:checked ~ .checkbox__text {
  background-color: #956a2c; }

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox__text:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the checkmark when checked */
.checkbox-wrap input:checked ~ .checkbox__text:after {
  display: block; }

/* Style the checkmark/indicator */
.checkbox-wrap .checkbox__text:after {
  left: 9px;
  top: 5px;
  width: 7px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.sidebar {
  -webkit-border-radius: 6px;
          border-radius: 6px;
  background-color: white;
  -webkit-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.26);
          box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.26);
  padding: 10px; }
  .sidebar__title {
    background: #956a2c;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: white;
    font-weight: bold;
    line-height: 1;
    padding: 10px;
    text-align: center; }
  .sidebar__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 10px; }
  .sidebar__filter {
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding: 0;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 95.88px; }
    .sidebar__filter:nth-of-type(2n) {
      margin-right: 0; }
    .sidebar__filter:last-child {
      margin-right: 0; }
    .sidebar__filter-link {
      background: #f4d498;
      font-size: 14px;
      font-weight: normal;
      line-height: 1;
      color: #000000;
      padding: 0.5rem;
      -webkit-border-radius: 2px;
              border-radius: 2px;
      display: inline-block;
      text-align: center;
      width: 100%; }
      .sidebar__filter-link:hover {
        color: #000000; }

.content__title {
  padding-left: 15px;
  font-size: 21px;
  font-family: "Open Sans", sans-serif;
  color: #252525; }

.content__pagination-wrap {
  height: 52px;
  padding-right: 15px; }

.content__pagination-item {
  display: inline-block;
  padding: 0 5px; }

.content__pagination-link {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #252525; }
  .content__pagination-link:hover {
    color: #252525;
    text-decoration: none; }

.content__pagination .active .content__pagination-link {
  color: #ff0303;
  font-size: 16px; }

.content__notice {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #252525;
  line-height: 1.286;
  padding: 10px; }
  .content__notice-link {
    color: #ff0303;
    text-decoration: underline; }
    .content__notice-link:hover {
      color: #ff0303;
      text-decoration: none; }

.grid .col-md-4 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 32%;
      -ms-flex: 0 0 32%;
          flex: 0 0 32%; }

.grid .half:first-child {
  padding: 10px 5px 10px 10px; }

.grid .half:last-child {
  padding: 10px 10px 10px 5px; }

.grid__item {
  border: 2px solid transparent;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  background-color: white;
  -webkit-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.26);
          box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.26);
  overflow: hidden;
  margin-bottom: 15px; }
  .grid__item:hover {
    border: 2px solid #8e723f; }

.grid__name {
  cursor: pointer;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  color: #4a4947;
  font-weight: bold;
  text-decoration: underline;
  line-height: 1.2; }
  .grid__name:hover {
    color: #ff0303;
    text-decoration: none; }

.grid__phone {
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  color: #ff0303;
  font-weight: bold;
  padding: 2.5px 0; }

.grid__image {
  cursor: pointer;
  position: relative; }
  .grid__image:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none; }
  .grid__image:hover:after {
    display: block; }
  .grid__image-link {
    display: block; }
  .grid__image img {
    width: 100%; }

.grid__label {
  background: rgba(13, 124, 3, 0.85);
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
  color: white;
  padding: 2.5px 10px;
  position: absolute;
  left: 10px;
  bottom: 20px; }

.grid__logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }
  .grid__logo:hover {
    text-decoration: none; }
  .grid__logo img {
    margin-right: 10px; }
  .grid__logo-text {
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    color: #ff0303;
    line-height: 1.2; }

.grid__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.5px; }
  .grid__row:nth-of-type(even) {
    background: #f4ecdb; }

.grid__naming {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #404040;
  font-weight: bold; }

.grid__price {
  line-height: 1.2;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #ff0303;
  font-weight: bold;
  text-transform: uppercase; }

.grid__text, .grid__time {
  line-height: 1.2;
  font-size: 12px;
  font-family: "Open Sans", sans-serif; }
