@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");
.header {
  background: #8e723f;
  border-top: 5px solid #78603e; }
  .header-top {
    height: 60px; }
  .header__logo-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .header__logo-link:hover {
      color: #ffffff;
      text-decoration: none; }
  .header__logo-text {
    display: block;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 1;
    padding: 0 15px; }
    .header__logo-text-big {
      font-size: 32px; }
  .header__town {
    padding: 0 15px; }
    .header__town-text {
      font-size: 14px;
      font-family: "Open Sans", sans-serif;
      color: white;
      line-height: 1.2; }
    .header__town-select {
      background: unset;
      border: none;
      color: #d7b475;
      font-size: 14px;
      font-family: "Open Sans", sans-serif; }
  .header__list {
    padding: 0 15px; }
    .header__list-item {
      display: inline-block;
      margin-right: 10px; }
      .header__list-item:last-child {
        margin-right: 0; }
    .header__list-link {
      color: #fff;
      display: block;
      font-size: 16px;
      font-family: "Open Sans", sans-serif;
      text-decoration: underline;
      line-height: 1.2; }
      .header__list-link:hover {
        color: #fff; }
  .header__ankets {
    justify-self: flex-end;
    margin-left: auto; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  height: 100%; }

body {
  margin: 0;
  padding: 0; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }
