@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");
.header {
  background: #8e723f;
  border-top: 5px solid #78603e;
  width: 100%;
  z-index: 10; }
  .header .container {
    padding: 0; }
  .header-top {
    min-height: 50px;
    padding: 5px 0; }
  .header__logo-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .header__logo-link:hover {
      color: #ffffff;
      text-decoration: none; }
  .header__logo-text {
    display: block;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 1;
    padding-left: 12px;
    padding-top: 5px; }
    .header__logo-text-normal {
      font-size: 16px; }
    .header__logo-text-big {
      font-size: 31px; }
  .header__town {
    padding-left: 40px;
    margin-right: 5px; }
    .header__town-text {
      font-size: 14px;
      font-family: "Open Sans", sans-serif;
      color: white;
      line-height: 1.2;
      margin-right: 5px; }
    .header__town-select {
      background: transparent url("../img/select.png") no-repeat 97% center;
      border: none;
      cursor: pointer;
      color: #f1cc88;
      font-size: 14px;
      font-family: "Open Sans", sans-serif;
      padding-right: 20px; }
      .header__town-select:focus {
        outline: none; }
  .header__list {
    padding-left: 44px; }
    .header__list-item {
      display: inline-block;
      margin-right: 16px; }
      .header__list-item:last-child {
        margin-right: 0; }
    .header__list-link {
      color: #fff;
      display: block;
      font-size: 14px;
      font-family: "Open Sans", sans-serif;
      text-decoration: underline;
      line-height: 1.2; }
      .header__list-link:hover {
        color: #d7b475;
        text-decoration: none; }
  .header__ankets {
    cursor: pointer; }
    .header__ankets-wrap {
      background: #6b512c;
      -webkit-border-radius: 2px;
              border-radius: 2px;
      padding: 2px 12px;
      -webkit-transition: background 0.3s linear;
      -o-transition: background 0.3s linear;
      transition: background 0.3s linear; }
      .header__ankets-wrap img {
        margin-right: 5px; }
      .header__ankets-wrap:hover {
        background: #845c22; }
    .header__ankets-text {
      font-size: 14px;
      font-family: "Open Sans", sans-serif;
      color: #fff;
      line-height: 1.2; }
  .header-mobile__list {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    display: none;
    text-align: right;
    padding-bottom: 15px; }
  .header-mobile__link {
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    text-decoration: underline;
    line-height: 1.2;
    padding: 5px 0; }

.girls__image a {
  display: block;
  position: relative; }
  .girls__image a:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none; }
  .girls__image a:hover:after {
    display: block; }

.girls__image img {
  display: none;
  width: 100%;
  height: 150px; }

.girls__item {
  position: relative; }

.girls__name {
  background: rgba(47, 26, 3, 0.702);
  color: #ffffff;
  cursor: pointer;
  position: absolute;
  bottom: 28px;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.2;
  width: 100%;
  text-align: center;
  padding: 5px 0; }
  .girls__name:hover {
    color: #ff0303;
    text-decoration: none; }

.girls__cost {
  background: #2f1a03;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 5px 0; }
  .girls__cost-default {
    font-size: 11.298px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    line-height: 1.2;
    text-align: left; }
  .girls__cost-red {
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    color: #ff0303;
    font-weight: bold;
    line-height: 1.2; }

.settings {
  background-color: #ffffff;
  margin-bottom: 11px;
  -webkit-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.26);
          box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.26); }
  .settings .container {
    padding: 0; }
  .settings-wrap {
    min-height: 60px; }
    .settings-wrap .col-lg-6 {
      padding: 0; }

.district {
  cursor: pointer;
  float: left;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-right: 25px; }
  .district:hover .district__icon {
    background-color: #d49e3d; }
  .district-sub {
    background: #ffffff;
    border: 2px solid #8e723f;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    position: absolute;
    top: 120%;
    left: 0;
    width: 200%;
    display: none;
    z-index: 1; }
    .district-sub__column {
      width: 20%; }
    .district-sub__item {
      display: block;
      font-size: 13px;
      font-family: "Open Sans", sans-serif;
      color: black;
      padding: 5px 15px; }
      .district-sub__item:hover {
        background: #8e723f;
        color: #ffffff; }
  .district__open {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .district__name {
    background: #956a2c url("../img/location.png") no-repeat 10px center;
    -webkit-border-bottom-left-radius: 2px;
            border-bottom-left-radius: 2px;
    -webkit-border-top-left-radius: 2px;
            border-top-left-radius: 2px;
    color: #ffffff;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    line-height: 1.2;
    width: 88px;
    height: 35px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 35px; }
  .district__icon {
    background: #f1cc88 url(../img/icon.png) no-repeat center;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    display: inline-block;
    width: 35px;
    height: 35px; }

.metro {
  cursor: pointer;
  float: left;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .metro:hover .metro__icon {
    background-color: #d49e3d; }
  .metro-sub {
    background: #ffffff;
    border: 2px solid #8e723f;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    position: absolute;
    top: 120%;
    left: 0;
    width: 200%;
    display: none;
    z-index: 1; }
    .metro-sub__column {
      width: 20%; }
    .metro-sub__item {
      display: block;
      font-size: 13px;
      font-family: "Open Sans", sans-serif;
      color: black;
      padding: 5px 15px; }
      .metro-sub__item:hover {
        color: #fb0505;
        text-decoration: underline; }
  .metro__open {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .metro__name {
    background: #956a2c url("../img/metro-white.png") no-repeat 10px center;
    -webkit-border-bottom-left-radius: 2px;
            border-bottom-left-radius: 2px;
    -webkit-border-top-left-radius: 2px;
            border-top-left-radius: 2px;
    color: #ffffff;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    line-height: 1.2;
    width: 88px;
    height: 35px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 35px; }
  .metro__icon {
    background: #f1cc88 url(../img/icon.png) no-repeat center;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    display: inline-block;
    width: 35px;
    height: 35px; }

.header__town {
  position: relative; }
  .header__town-sub {
    background: #ffffff;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    position: absolute;
    top: 120%;
    left: 40px;
    width: 100%;
    display: none;
    z-index: 1; }
    .header__town-sub__column {
      width: 100%; }
  .header__town-item {
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    color: black;
    padding: 5px 15px; }
    .header__town-item:hover {
      color: #fb0505;
      text-decoration: underline; }
  .header__town-open {
    display: block; }

.burger {
  border: 1px solid #fff;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  display: inline-block;
  padding: 5px; }
  .burger-wrap {
    display: none;
    padding: 10px 0; }
  .burger__icon {
    background-color: #fff;
    display: block;
    width: 20px;
    height: 2px;
    margin-bottom: 5px; }
    .burger__icon:last-child {
      margin-bottom: 0; }

@-moz-document url-prefix() {
  .header__town-text {
    margin-right: 0; } }

.radio {
  text-align: left;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .radio-wrap {
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding: 0;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 95.88px; }
    .radio-wrap:nth-of-type(2n) {
      margin-right: 0; }
    .radio-wrap:last-child {
      margin-right: 0; }
  .radio__input {
    display: none; }
  .radio__text {
    background: #f4d498;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #000000;
    padding: 0.5rem;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    display: inline-block;
    text-align: center;
    width: 100%; }
  .radio__input:checked ~ .radio__text {
    color: #000000;
    background-color: #d49e3d; }

.checkbox-wrap {
  height: 25px;
  display: inline-block;
  position: relative;
  padding-left: 34px;
  cursor: pointer;
  color: #252525;
  font-size: 14px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: left;
  margin-right: 25px; }
  .checkbox-wrap:last-child {
    margin-right: 0; }
  .checkbox-wrap input {
    position: absolute;
    opacity: 0;
    cursor: pointer; }
  .checkbox-wrap__value {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    text-decoration: underline;
    padding-right: 5px; }
    .checkbox-wrap__value:hover {
      text-decoration: none; }

.extended-filter .checkbox__text {
  width: 20px;
  height: 20px; }

.extended-filter .checkbox-wrap {
  height: 20px; }

.extended-filter .checkbox-wrap__value {
  font-family: "Open Sans", sans-serif;
  color: #282828;
  line-height: 1.167;
  text-decoration: none; }

/* Create a custom checkbox */
.checkbox__text {
  -webkit-border-radius: 4px;
          border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #f1cc88; }

/* When the checkbox is checked, add a blue background */
.checkbox-wrap input:checked ~ .checkbox__text {
  background: #956a2c url(../img/checkbox.png) no-repeat center; }

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox__text:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the checkmark when checked */
.checkbox-wrap input:checked ~ .checkbox__text:after {
  display: none; }

/* Style the checkmark/indicator */
.checkbox-wrap .checkbox__text:after {
  display: none;
  left: 9px;
  top: 5px;
  width: 7px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.container-sidebar {
  padding: 0; }

.sidebar {
  -webkit-border-radius: 6px;
          border-radius: 6px;
  background-color: white;
  -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.26);
          box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.26);
  padding: 12px; }
  .sidebar-wrap {
    padding-left: 0;
    padding-right: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 269px;
        -ms-flex: 0 0 269px;
            flex: 0 0 269px;
    max-width: 269px; }
  .sidebar__title {
    background: #956a2c;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    font-size: 16.5px;
    font-family: "Open Sans", sans-serif;
    color: white;
    font-weight: bold;
    line-height: 1;
    padding: 10px;
    text-align: center; }
    .sidebar__title:not(:first-child) {
      margin-top: 15px; }
    .sidebar__title-mobile {
      display: none; }
  .sidebar__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 20px; }
  .sidebar__filter {
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding: 0;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 105px; }
    .sidebar__filter:nth-of-type(2n) {
      margin-right: 0; }
    .sidebar__filter:last-child {
      margin-right: 0; }
    .sidebar__filter-link {
      background: #f4d498;
      font-size: 14px;
      font-weight: normal;
      line-height: 1;
      color: #000000;
      padding: 0.5rem;
      -webkit-border-radius: 2px;
              border-radius: 2px;
      display: inline-block;
      text-align: center;
      width: 100%; }
      .sidebar__filter-link:hover {
        background: #d49e3d;
        color: #000000;
        text-decoration: none; }

.content {
  padding: 0; }
  .content__title {
    padding-left: 26px;
    padding-bottom: 10px;
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
    color: #252525; }
  .content__pagination-wrap {
    width: 100%; }
  .content__pagination-item {
    display: inline-block;
    padding: 0 5px; }
  .content__pagination-link {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: #252525; }
    .content__pagination-link:hover {
      color: #252525;
      text-decoration: none; }
  .content__pagination .active .content__pagination-link {
    color: #ff0303;
    font-size: 16px; }
  .content__notice {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: #252525;
    line-height: 1.286;
    padding: 10px; }
    .content__notice-link {
      color: #ff0303;
      text-decoration: underline; }
      .content__notice-link:hover {
        color: #ff0303;
        text-decoration: none; }

.grid {
  padding-left: 24px; }
  .grid .col-md-6, .grid .col-lg-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 32%;
        -ms-flex: 0 0 32%;
            flex: 0 0 32%; }
  .grid .half:first-child {
    width: 55%;
    padding: 5px; }
  .grid .half:last-child {
    width: 45%;
    padding: 5px; }
  .grid__item {
    border: 2px solid transparent;
    -webkit-border-radius: 6px;
            border-radius: 6px;
    background-color: white;
    -webkit-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.26);
            box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.26);
    overflow: hidden;
    margin-bottom: 15px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 282px;
        -ms-flex: 0 0 282px;
            flex: 0 0 282px; }
    .grid__item:hover {
      border: 2px solid #8e723f; }
  .grid__name {
    cursor: pointer;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    color: #4a4947;
    font-weight: bold;
    text-decoration: underline;
    line-height: 1.2; }
    .grid__name:hover {
      color: #ff0303;
      text-decoration: none; }
  .grid__phone {
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    color: #ff0303;
    font-weight: bold;
    padding: 2.5px 0; }
  .grid__image {
    cursor: pointer;
    position: relative; }
    .grid__image:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      display: none; }
    .grid__image:hover:after {
      display: block; }
    .grid__image-link {
      display: block; }
    .grid__image img {
      width: 100%;
      height: 200px; }
  .grid__label {
    background: rgba(13, 124, 3, 0.85);
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    color: white;
    padding: 2.5px 7px;
    position: absolute;
    left: 5px;
    bottom: 20px; }
  .grid__logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    margin-bottom: 20px; }
    .grid__logo:hover {
      text-decoration: none; }
    .grid__logo img {
      margin-right: 10px; }
    .grid__logo-text {
      font-size: 12px;
      font-family: "Open Sans", sans-serif;
      color: #ff0303;
      line-height: 1.2; }
  .grid__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 3px 5px; }
    .grid__row:nth-of-type(odd) {
      background: #f4ecdb; }
    .grid__row-wrap {
      height: 181px;
      overflow: hidden; }
  .grid__naming {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: #404040;
    font-weight: bold;
    padding-top: 1px; }
  .grid__price {
    line-height: 1.2;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: #ff0303;
    font-weight: bold;
    text-transform: uppercase; }
  .grid__text, .grid__time {
    line-height: 1.2;
    font-size: 12px;
    font-family: "Open Sans", sans-serif; }

.search__title {
  font-size: 22.5px;
  font-family: "Open Sans", sans-serif;
  color: #252525;
  margin-bottom: 15px;
  padding-top: 7px; }

.extended-filter {
  border: 1px solid #dadada;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.502);
  -webkit-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.26);
          box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.26);
  min-height: 60px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px; }
  .extended-filter-wrapper {
    padding: 0; }
    .extended-filter-wrapper .col-md-12 {
      padding: 0; }
    .extended-filter-wrapper .row-first .row {
      padding-left: 15px;
      padding-right: 15px; }
  .extended-filter .row {
    padding: 5px;
    margin: 0;
    width: 100%; }
  .extended-filter__row {
    padding: 0;
    width: 20%; }
  .extended-filter__title {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: #282828;
    font-weight: bold;
    line-height: 1;
    padding-left: 22.5px;
    margin-bottom: 10px; }
  .extended-filter .checkbox-wrap {
    padding-left: 27px; }
    .extended-filter .checkbox-wrap input:checked ~ .checkbox__text {
      background: #956a2c url("../img/checkbox.png") no-repeat center; }
      .extended-filter .checkbox-wrap input:checked ~ .checkbox__text:after {
        display: none; }
    .extended-filter .checkbox-wrap__value {
      font-size: 13px;
      font-family: "Open Sans", sans-serif;
      color: #282828;
      line-height: 1.167; }
  .extended-filter .checkbox__text {
    -webkit-border-radius: 2px;
            border-radius: 2px;
    width: 20px;
    height: 20px; }
  .extended-filter__cat {
    background: #956a2c;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: white;
    font-weight: bold;
    line-height: 1.2;
    width: 100%;
    padding: 5px;
    padding-left: 25px;
    margin-bottom: 15px; }

.find {
  background-color: #6b512c; }
  .find:hover {
    background-color: #4e3615; }

.clear {
  background-color: #dca339; }
  .clear:hover {
    background-color: #b27e1e; }

.content-contact-us {
  padding-left: 7px; }

.contacts-us__title {
  font-family: "Open Sans", sans-serif;
  color: #252525; }
  .contacts-us__title-big {
    font-size: 26px; }
  .contacts-us__title-sec {
    font-size: 24px;
    margin-bottom: 13px; }

.contacts-us__text {
  font-size: 16px;
  line-height: 1.286; }

.breadcrumbs__link {
  color: #956a2c;
  font-size: 14px;
  text-decoration: underline; }
  .breadcrumbs__link:hover {
    color: #956a2c; }
  .breadcrumbs__link-active {
    text-decoration: none;
    color: #000; }
    .breadcrumbs__link-active:before {
      content: '>';
      margin-right: 2.5px; }
    .breadcrumbs__link-active:hover {
      text-decoration: none;
      color: #000; }

.form {
  background-color: #ffffff;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  width: 660px;
  -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.26);
          box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.26);
  padding: 30px; }
  .form__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 10px; }
    .form__row-upload, .form__row-send {
      padding-left: 30%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
  .form__label {
    width: 25%;
    color: #252525;
    font-weight: bold;
    line-height: 1.2;
    padding-top: 15px; }
    .form__label-custom {
      border: 1px solid #8e8e8e;
      -webkit-border-radius: 3px;
              border-radius: 3px;
      background-color: #e2e2e2;
      cursor: pointer;
      width: 138px;
      height: 36px;
      line-height: 36px;
      text-align: center; }
      .form__label-custom-text {
        display: block;
        padding-left: 10px; }
  .form__input, .form__textarea {
    border: 1px solid #8e8e8e;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    height: 49px;
    width: 75%;
    padding: 5px; }
    .form__input:focus, .form__textarea:focus {
      border: 1px solid #956a2c;
      outline: none; }
  .form__textarea {
    resize: none;
    height: 170px; }
  .form__icon {
    color: #fc0404; }
  .form__upload {
    display: none; }
  .form__send {
    display: inline-block;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    background-color: #956a2c;
    width: 284px;
    height: 37px;
    line-height: 37px;
    text-align: center;
    color: #ffffff;
    font-size: 16px; }

.static__title {
  font-family: "Open Sans", sans-serif;
  color: #252525; }
  .static__title-big {
    font-size: 26px; }
  .static__title-second {
    font-size: 24px;
    margin-bottom: 13px; }
  .static__title-third {
    font-size: 21px;
    margin-bottom: 10px; }

.static__text {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 1.286; }
  .static__text-link {
    color: #fc0404;
    text-decoration: underline; }
    .static__text-link:hover {
      color: #fc0404;
      text-decoration: none; }

.static__address {
  font-family: "Open Sans", sans-serif;
  color: #a78450;
  font-weight: bold;
  text-decoration: underline;
  line-height: 1.286; }

ol.static__text {
  font-size: 15px;
  padding-left: 30px; }
  ol.static__text li {
    padding-bottom: 10px; }

.table tr {
  background-color: #fff; }
  .table tr:nth-of-type(even) {
    background-color: #f8f4eb; }

.table td {
  border: 1px solid #8d8d8c;
  text-align: center; }

.footer {
  background: #f4d498;
  margin-top: 25px; }
  .footer .container {
    padding: 0; }
  .footer-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    width: 100%;
    height: 50px; }
    .footer-list__link {
      color: #fe1d15;
      text-decoration: underline; }
      .footer-list__link:hover {
        color: #fe1d15;
        text-decoration: none; }
    .footer-list__item {
      margin-right: 50px; }
      .footer-list__item:last-child {
        justify-self: flex-end;
        margin-left: auto;
        margin-right: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  height: 100%; }

body {
  background: #f1ebde;
  margin: 0;
  padding: 0; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

label {
  margin-bottom: 0; }

.hr__index {
  border-top: 1px dashed #b5ab96;
  margin-top: 10px;
  margin-bottom: 5px; }

.hr__sidebar {
  border-top: 1px dashed #b5ab96;
  margin: 7.5px 15.5px 16px;
  width: 100%; }

.half {
  width: 50%;
  float: left;
  position: relative; }
  .half:after {
    clear: both;
    content: '';
    display: block; }

.more {
  display: block;
  color: #ff0303;
  font-size: 12px;
  text-decoration: underline;
  text-align: right;
  padding-top: 5px;
  float: right; }
  .more:hover {
    color: #ff0303;
    text-decoration: none; }

.anchor {
  background: #8e723f url("../img/arrow-top.png") no-repeat center;
  cursor: pointer;
  position: absolute;
  right: -140px;
  top: -155px;
  width: 75px;
  height: 75px;
  -webkit-border-radius: 50%;
          border-radius: 50%; }
  .anchor:hover {
    background-color: #b58033; }

.slick-slide {
  line-height: 1.1; }

.default-btn {
  display: inline-block;
  text-align: center;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: white;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  width: 116px;
  height: 29px;
  line-height: 29px;
  -webkit-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear; }
  .default-btn:hover {
    color: #ffffff;
    text-decoration: none; }

.radio {
  text-align: left;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .radio-wrap {
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding: 0;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 95.88px; }
    .radio-wrap:nth-of-type(2n) {
      margin-right: 0; }
    .radio-wrap:last-child {
      margin-right: 0; }
  .radio__input {
    display: none; }
  .radio__text {
    background: #f4d498;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #000000;
    padding: 0.5rem;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    display: inline-block;
    text-align: center;
    width: 100%; }
  .radio__input:checked ~ .radio__text {
    color: #000000;
    background-color: #d49e3d; }

.checkbox-wrap {
  height: 25px;
  display: inline-block;
  position: relative;
  padding-left: 34px;
  cursor: pointer;
  color: #252525;
  font-size: 14px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: left;
  margin-right: 25px; }
  .checkbox-wrap:last-child {
    margin-right: 0; }
  .checkbox-wrap input {
    position: absolute;
    opacity: 0;
    cursor: pointer; }
  .checkbox-wrap__value {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    text-decoration: underline;
    padding-right: 5px; }
    .checkbox-wrap__value:hover {
      text-decoration: none; }

.extended-filter .checkbox__text {
  width: 20px;
  height: 20px; }

.extended-filter .checkbox-wrap {
  height: 20px; }

.extended-filter .checkbox-wrap__value {
  font-family: "Open Sans", sans-serif;
  color: #282828;
  line-height: 1.167;
  text-decoration: none; }

/* Create a custom checkbox */
.checkbox__text {
  -webkit-border-radius: 4px;
          border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #f1cc88; }

/* When the checkbox is checked, add a blue background */
.checkbox-wrap input:checked ~ .checkbox__text {
  background: #956a2c url(../img/checkbox.png) no-repeat center; }

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox__text:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the checkmark when checked */
.checkbox-wrap input:checked ~ .checkbox__text:after {
  display: none; }

/* Style the checkmark/indicator */
.checkbox-wrap .checkbox__text:after {
  display: none;
  left: 9px;
  top: 5px;
  width: 7px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

@media screen and (max-width: 1450px) {
  .anchor {
    display: none; } }

@media screen and (max-width: 1199px) {
  .header__town-sub {
    left: 0; }
  .grid .half:first-child {
    width: 153px; }
  .grid .half:last-child {
    width: -webkit-calc( 100% - 153px);
    width: calc( 100% - 153px); }
  .header__town-select, .header__town-text {
    font-size: 12px; }
  .container-sidebar,
  .settings .container,
  .header .container {
    padding: 0 15px; }
  .district-sub,
  .metro-sub {
    width: 938px; }
  .grid__label {
    left: 5px;
    padding: 2.5px; }
  .header__town {
    padding: 0; }
  .header__logo-text {
    padding: 0 5px; }
  .header__logo-text-big {
    font-size: 26px; }
  .header__logo-text-normal {
    font-size: 13px; }
  .header__ankets-wrap {
    padding: 5px; }
  .header__list-link, .header__ankets-text {
    font-size: 11px; }
  .footer-list__link, .footer-list__item {
    font-size: 12px; }
  .grid .col-lg-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 49%;
        -ms-flex: 0 0 49%;
            flex: 0 0 49%;
    max-width: 49%; } }

@media screen and (max-width: 1199px) and (min-width: 767px) {
  .grid__item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%; } }

@media screen and (max-width: 991px) {
  .header__town-select, .header__town-text {
    font-size: 15px; }
  .form {
    width: 100%;
    padding: 15px; }
    .form__label {
      font-size: 12px; }
  .grid .col-md-6, .grid .col-lg-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 49%;
        -ms-flex: 0 0 49%;
            flex: 0 0 49%; }
  .settings__checkbox {
    text-align: left !important; }
  .settings-wrap {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .settings-wrap .col-lg-6 {
      padding: 7.5px 0; }
  .district-sub, .metro-sub {
    width: 100%;
    left: 0; }
  .header-top {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header__list {
    display: none; }
  .header__nav {
    display: none; }
  .header__ankets {
    padding-top: 5px; }
  .header__ankets-wrap {
    display: inline-block; }
  .header__ankets-text {
    font-size: 14px;
    color: red; }
  .burger-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0; }
  /**/
  .container-sidebar, .settings .container, .header .container,
  .extended-filter-wrapper, .footer .container {
    padding: 0; } }

@media screen and (max-width: 780px) {
  .container-sidebar, .settings .container, .header .container {
    padding: 0 7.5px; } }

@media screen and (max-width: 767px) {
  .table td {
    font-size: 12px; }
  .content-contact-us {
    padding-top: 7.5px; }
  .form__label, .form__input, .form__textarea {
    font-size: 16px;
    width: 100%; }
  .form__row-send, .form__row-upload {
    padding-left: 0; }
  .form__label-custom-text {
    padding-left: 0; }
  .district, .metro {
    width: 50%;
    margin: 0; }
    .district__name, .metro__name {
      min-width: 88px;
      width: -webkit-calc(100% - 35px);
      width: calc(100% - 35px); }
  .district {
    padding-right: 5px; }
  .metro {
    padding-left: 5px; }
  .settings .checkbox-wrap:nth-of-type(2) {
    padding-left: 40px; }
    .settings .checkbox-wrap:nth-of-type(2) .checkbox__text {
      left: 5px; }
  .settings .checkbox-wrap:nth-of-type(4) {
    padding-left: 40px; }
    .settings .checkbox-wrap:nth-of-type(4) .checkbox__text {
      left: 5px; }
  /**/
  .container-sidebar, .settings .container, .header .container,
  .extended-filter-wrapper, .footer .container {
    padding: 0; }
  .district-sub, .metro-sub {
    top: 100%; }
  .district-sub__column, .metro-sub__column {
    width: 100%; }
  .girls {
    display: none; }
  .header__logo-text {
    display: none; }
  .header__logo-link {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .header__list {
    display: none; }
  .sidebar__title-mobile {
    background: #956a2c url("../img/select.png") no-repeat 97.5% center;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: white;
    font-weight: bold;
    line-height: 1;
    padding: 10px;
    text-align: center;
    display: block; }
  .sidebar {
    display: none;
    margin-top: 15px; }
  .sidebar-wrap {
    padding: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%; }
  .district-sub, .metro-sub {
    width: 100%; }
  .sidebar__filter {
    width: 48%;
    margin-right: 2%; }
  .footer-list {
    min-height: 60px;
    height: auto; }
  .footer-list__item {
    margin-right: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    text-align: center; }
    .footer-list__item:last-child {
      margin-left: 0; }
  .grid {
    padding-left: 0; }
  .grid__logo {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .grid__image {
    width: 143px; }
  .settings__checkbox {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .checkbox-wrap {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    margin-right: 0;
    margin-bottom: 10px; }
  .settings-wrap .col-lg-6 {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .content__title {
    padding-left: 0; }
  .sidebar__row {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .content__notice {
    padding-left: 0;
    padding-right: 0; }
  .extended-filter__title {
    text-align: center; }
  .extended-filter__row {
    width: 100%; }
    .extended-filter__row .settings__checkbox {
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
  .row-first .extended-filter .checkbox-wrap:nth-of-type(3) {
    margin-bottom: 0; }
  .row-first .extended-filter .checkbox-wrap:nth-of-type(4) {
    margin-bottom: 0; }
  .find {
    float: right; }
  .footer-list__item span {
    display: block; } }

@media screen and (max-width: 750px) {
  .grid .col-md-6, .grid .col-lg-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%; }
  .grid__phone {
    font-size: 16px; }
  .grid__logo-text {
    font-size: 14px; }
  .hr__index {
    margin: 15px 0; } }

@media screen and (max-width: 600px) {
  /**/
  .container-sidebar, .settings .container, .header .container,
  .extended-filter-wrapper, .footer .container {
    padding: 0 30px; }
  /**/
  .contacts-us__title-big {
    font-size: 24px; }
  .contacts-us__title-sec {
    font-size: 22px; }
  .table td {
    font-size: 9px; }
  .grid .half:first-child {
    width: 153px; }
  .grid .half:last-child {
    width: -webkit-calc( 100% - 153px);
    width: calc( 100% - 153px); }
  .grid__item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%; } }

@media screen and (max-width: 380px) {
  .header__town-text {
    display: none; } }
