@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");
.header {
  background: #8e723f;
  border-top: 5px solid #78603e;
  position: fixed;
  width: 100%;
  z-index: 10; }
  .header-top {
    height: 60px; }
  .header__logo-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .header__logo-link:hover {
      color: #ffffff;
      text-decoration: none; }
  .header__logo-text {
    display: block;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 1;
    padding: 0 15px; }
    .header__logo-text-big {
      font-size: 28px; }
  .header__town {
    padding: 0 15px; }
    .header__town-text {
      font-size: 14px;
      font-family: "Open Sans", sans-serif;
      color: white;
      line-height: 1.2; }
    .header__town-select {
      background: transparent url("../img/select.png") no-repeat 99% center;
      border: none;
      color: #d7b475;
      font-size: 14px;
      font-family: "Open Sans", sans-serif;
      padding-right: 20px; }
      .header__town-select:focus {
        outline: none; }
  .header__list {
    padding: 0 15px; }
    .header__list-item {
      display: inline-block;
      margin-right: 10px; }
      .header__list-item:last-child {
        margin-right: 0; }
    .header__list-link {
      color: #fff;
      display: block;
      font-size: 14px;
      font-family: "Open Sans", sans-serif;
      text-decoration: underline;
      line-height: 1.2; }
      .header__list-link:hover {
        color: #d7b475;
        text-decoration: none; }
  .header__ankets {
    cursor: pointer;
    justify-self: flex-end;
    margin-left: auto; }
    .header__ankets-wrap {
      background: #6b512c;
      -webkit-border-radius: 2px;
              border-radius: 2px;
      padding: 5px 10px;
      -webkit-transition: background 0.3s linear;
      -o-transition: background 0.3s linear;
      transition: background 0.3s linear; }
      .header__ankets-wrap:hover {
        background: #845c22; }
    .header__ankets-text {
      font-size: 14px;
      font-family: "Open Sans", sans-serif;
      color: white;
      line-height: 1.2; }

.girls {
  padding-top: 63px; }
  .girls__item {
    position: relative; }
  .girls__name {
    background: rgba(47, 26, 3, 0.702);
    color: #ffffff;
    cursor: pointer;
    position: absolute;
    bottom: 28px;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    line-height: 1.2;
    width: 100%;
    text-align: center;
    padding: 5px 0; }
    .girls__name:hover {
      color: #ff0303;
      text-decoration: none; }
  .girls__cost {
    background: #2f1a03;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 5px 0; }
    .girls__cost-default {
      font-size: 11.298px;
      font-family: "Open Sans", sans-serif;
      font-weight: bold;
      line-height: 1.2;
      text-align: left; }
    .girls__cost-red {
      font-size: 14px;
      font-family: "Open Sans", sans-serif;
      color: #ff0303;
      font-weight: bold;
      line-height: 1.2; }

.settings {
  background-color: #ffffff;
  margin-bottom: 15px;
  -webkit-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.26);
          box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.26); }
  .settings-wrap {
    height: 60px; }

.radio {
  text-align: left;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .radio-wrap {
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding: 0;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 95.88px; }
    .radio-wrap:nth-of-type(2n) {
      margin-right: 0; }
    .radio-wrap:last-child {
      margin-right: 0; }
  .radio__input {
    display: none; }
  .radio__text {
    background: #f4d498;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #000000;
    padding: 0.5rem;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    display: inline-block;
    text-align: center;
    width: 100%; }
  .radio__input:checked ~ .radio__text {
    color: #000000;
    background-color: #d49e3d; }

.checkbox-wrap {
  height: 25px;
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  color: #252525;
  font-size: 14px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: left;
  margin-right: 25px; }
  .checkbox-wrap:last-child {
    margin-right: 0; }
  .checkbox-wrap input {
    position: absolute;
    opacity: 0;
    cursor: pointer; }
  .checkbox-wrap__value {
    text-decoration: underline; }
    .checkbox-wrap__value:hover {
      text-decoration: none; }

/* Create a custom checkbox */
.checkbox__text {
  -webkit-border-radius: 4px;
          border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #f1cc88; }

/* When the checkbox is checked, add a blue background */
.checkbox-wrap input:checked ~ .checkbox__text {
  background-color: #956a2c; }

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox__text:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the checkmark when checked */
.checkbox-wrap input:checked ~ .checkbox__text:after {
  display: block; }

/* Style the checkmark/indicator */
.checkbox-wrap .checkbox__text:after {
  left: 9px;
  top: 5px;
  width: 7px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.sidebar {
  -webkit-border-radius: 6px;
          border-radius: 6px;
  background-color: white;
  -webkit-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.26);
          box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.26);
  padding: 10px; }
  .sidebar__title {
    background: #956a2c;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: white;
    font-weight: bold;
    line-height: 1;
    padding: 10px;
    text-align: center; }
  .sidebar__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 10px; }
  .sidebar__filter {
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding: 0;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 95.88px; }
    .sidebar__filter:nth-of-type(2n) {
      margin-right: 0; }
    .sidebar__filter:last-child {
      margin-right: 0; }
    .sidebar__filter-link {
      background: #f4d498;
      font-size: 14px;
      font-weight: normal;
      line-height: 1;
      color: #000000;
      padding: 0.5rem;
      -webkit-border-radius: 2px;
              border-radius: 2px;
      display: inline-block;
      text-align: center;
      width: 100%; }
      .sidebar__filter-link:hover {
        color: #000000; }

.content__title {
  padding-left: 15px;
  font-size: 21px;
  font-family: "Open Sans", sans-serif;
  color: #252525; }

.content__pagination-wrap {
  height: 52px;
  padding-right: 15px; }

.content__pagination-item {
  display: inline-block;
  padding: 0 5px; }

.content__pagination-link {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #252525; }
  .content__pagination-link:hover {
    color: #252525;
    text-decoration: none; }

.content__pagination .active .content__pagination-link {
  color: #ff0303;
  font-size: 16px; }

.content__notice {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #252525;
  line-height: 1.286;
  padding: 10px; }
  .content__notice-link {
    color: #ff0303;
    text-decoration: underline; }
    .content__notice-link:hover {
      color: #ff0303;
      text-decoration: none; }

.grid .col-md-4 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 32%;
      -ms-flex: 0 0 32%;
          flex: 0 0 32%; }

.grid .half:first-child {
  padding: 10px 5px 10px 10px; }

.grid .half:last-child {
  padding: 10px 10px 10px 5px; }

.grid__item {
  border: 2px solid transparent;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  background-color: white;
  -webkit-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.26);
          box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.26);
  overflow: hidden;
  margin-bottom: 15px; }
  .grid__item:hover {
    border: 2px solid #8e723f; }

.grid__name {
  cursor: pointer;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  color: #4a4947;
  font-weight: bold;
  text-decoration: underline;
  line-height: 1.2; }
  .grid__name:hover {
    color: #ff0303;
    text-decoration: none; }

.grid__phone {
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  color: #ff0303;
  font-weight: bold;
  padding: 2.5px 0; }

.grid__image {
  cursor: pointer;
  position: relative; }
  .grid__image:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none; }
  .grid__image:hover:after {
    display: block; }
  .grid__image-link {
    display: block; }
  .grid__image img {
    width: 100%; }

.grid__label {
  background: rgba(13, 124, 3, 0.85);
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
  color: white;
  padding: 2.5px 10px;
  position: absolute;
  left: 10px;
  bottom: 20px; }

.grid__logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }
  .grid__logo:hover {
    text-decoration: none; }
  .grid__logo img {
    margin-right: 10px; }
  .grid__logo-text {
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    color: #ff0303;
    line-height: 1.2; }

.grid__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.5px; }
  .grid__row:nth-of-type(even) {
    background: #f4ecdb; }

.grid__naming {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #404040;
  font-weight: bold; }

.grid__price {
  line-height: 1.2;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #ff0303;
  font-weight: bold;
  text-transform: uppercase; }

.grid__text, .grid__time {
  line-height: 1.2;
  font-size: 12px;
  font-family: "Open Sans", sans-serif; }

.footer {
  background: #f4d498;
  margin-top: 25px; }
  .footer-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    width: 100%;
    height: 50px; }
    .footer-list__link {
      color: #fe1d15;
      text-decoration: underline; }
      .footer-list__link:hover {
        color: #fe1d15;
        text-decoration: none; }
    .footer-list__item {
      margin-right: 50px; }
      .footer-list__item:last-child {
        justify-self: flex-end;
        margin-left: auto;
        margin-right: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  height: 100%; }

body {
  background: #f1ebde;
  margin: 0;
  padding: 0; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

label {
  margin-bottom: 0; }

.hr__index {
  border-top: 1px dashed #b5ab96;
  margin: 1rem 0 0.5rem; }

.hr__sidebar {
  border-top: 1px dashed #b5ab96;
  margin: 7.5px 15.5px 16px;
  width: 100%; }

.half {
  width: 50%;
  float: left;
  position: relative; }
  .half:after {
    clear: both;
    content: '';
    display: block; }

.more {
  display: block;
  color: #ff0303;
  font-size: 12px;
  text-decoration: underline;
  text-align: right; }
  .more:hover {
    color: #ff0303;
    text-decoration: none; }

.anchor {
  background: #8e723f url("../img/arrow-top.png") no-repeat center;
  cursor: pointer;
  position: absolute;
  right: -150px;
  top: -150px;
  width: 75px;
  height: 75px;
  -webkit-border-radius: 50%;
          border-radius: 50%; }
  .anchor:hover {
    background-color: #b58033; }

.slick-slide {
  line-height: 1.1; }
