@import 'vars'
@import 'mixins'
@import 'fonts'
@import 'header.sass'
@import 'index-page.sass'
@import 'search.sass'
@import 'contactus.sass'
@import 'static.sass'
@import 'product.sass'
@import 'footer.sass'
//@font-face
//	font-family: "MyriadProSemiBold"
//	src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot")
//	src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix")format("embedded-opentype"),
//	url("../fonts/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"),
//	url("../fonts/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype")
//	font-style: normal
//	font-weight: normal


*
	box-sizing: border-box

html
	font-family: $font-default
	font-size: 16px
	height: 100%

body
	background: #f1ebde
	margin: 0
	padding: 0

ul
	padding: 0
	margin: 0
	list-style: none

select
	-webkit-appearance: none
	-moz-appearance: none
	appearance: none

label
	margin-bottom: 0

.hr
	&__index
		border-top: 1px dashed #b5ab96
		margin-top: 10px
		margin-bottom: 5px
	&__sidebar
		border-top: 1px dashed #b5ab96
		margin: 7.5px 15.5px 16px
		width: 100%

.half
	width: 50%
	float: left
	position: relative
	&:after
		clear: both
		content: ''
		display: block

.more
	display: block
	color: #ff0303
	font-size: 12px
	text-decoration: underline
	text-align: right
	padding-top: 5px
	float: right
	&:hover
		color: #ff0303
		text-decoration: none

.anchor
	background: #8e723f url("../img/arrow-top.png") no-repeat center
	cursor: pointer
	position: absolute
	right: -140px
	top: -155px
	width: 75px
	height: 75px
	border-radius: 50%
	&:hover
		background-color: #b58033
.slick-slide
	line-height: 1.1

.default-btn
	display: inline-block
	text-align: center
	font-size: 16px
	font-family: $font-default
	color: rgb(255, 255, 255)
	border-radius: 3px
	width: 116px
	height: 29px
	line-height: 29px
	transition: background-color 0.3s linear
	&:hover
		color: #ffffff
		text-decoration: none

.map-page
  width: 100%
  height: 100%
  &__title
    padding-bottom: 10px
    font-size: 24px
    font-family: "Open Sans", sans-serif
    color: #252525
  .grid__item
    box-shadow: none
    &:hover
      border: 2px solid transparent

#map-product
	width: 100%
	height: 426px
#map
	width: 100%
	height: 500px

//.ymaps-b-balloon__content-holster
//  padding: 0 !important
//  .grid
//    padding-left: 0

@import "media"
